d3m==2020.1.9
frozendict>=1.2
grpcio
grpcio-tools
jsonpath-ng>=1.4.3
protobuf>=3.6.1
networkx>=2.2
psutil>=5.4.7
PyYAML>=3.13
scikit-learn
datamart-isi@git+https://github.com/usc-isi-i2/datamart-userend.git@330aca25d2f23338e358807b7ab7bd8a1e8d88f1
